<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="traingle" class="main.java.spring.farruhhabibullaev.edu.Traingle">-->
    <!--&lt;!&ndash;<property name="type" value="Eqauliter"></property>&ndash;&gt;-->
    <!--<constructor-arg value="Equalizer"/>-->
    <!--<constructor-arg value="12" type="int"/>-->
    <!--</bean>-->

    <bean id="traingle" class="spring.farruhhabibullaev.edu.Traingle2">
        <!--<property name="type" value="Eqauliter"></property>-->
        <property name="a" ref="Point3"/>
        <property name="b" ref="Point2"/>
        <property name="c" ref="zeroPoint"/>
    </bean>

    <bean id="zeroPoint" class="spring.farruhhabibullaev.edu.Point">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="Point2" class="spring.farruhhabibullaev.edu.Point">
        <property name="x" value="20"/>
        <property name="y" value="20"/>
    </bean>

    <bean id="Point3" class="spring.farruhhabibullaev.edu.Point">
        <property name="x" value="0"/>
        <property name="y" value="20"/>
    </bean>


</beans>